@import "tailwindcss";

@theme {
  --color-eduBlue: #2269e9;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
  }

  @page {
    margin: 0;
  }
}
